/*цвет основного текста #212121*/
/*цвет вторичного текста #757575;*/
/* цвет кнопок акцент #2196F3*/
/* цвет белый, герой, кнопки #FFFFFF*/
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --background-site-color:#E5E5E5;
    --color-white: #FFFFFF;
    --footer-hero-color:#2F303A;
    --background-section-color: #F5F4FA;
    --color-contacts-address: rgba(255, 255, 255, 0.6);
    --color-logo-Studio: #000000;
}

body {
    color:var(--primary-text-color);
    background: var(--background-site-color)
    font-family Roboto, sans-serif; 
    letter-spacing: 0.03em;
}
.list {
    list-style: none;
}
a {
    text-decoration: none;
}

/*heder*/
header {
    background: var(--color-white);
    width: 1600px;
}

.web  {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);

}
.studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--color-logo-Studio);
}
.logo:hover, 
.logo:focus {
color: var(--accent-color);
}
.site-nav a{
color:var(--title-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color:var(--accent-color);
}
.contacts-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
   
}
.contacts-link:hover,
.contacts-link:focus {
    color:var(--accent-color);
}
/*main*/

/*hero*/
.hero {
    background-color: var(--footer-hero-color);
}
.hero-title {
    color: var(--color-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
} 

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    font-family: inherit;
 
}
.button:hover,
.button:focus {
 background-color: var(--accent-color);
 color: var(--color-white);
}

/*section*/
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 2;
    text-align: center;
}
.h-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
}
.section-title, .h-title, 
.team-title {
    color: var(--title-text-color);
}
.h-hidden {
    opacity: 0;
}
.p-text {
    font-size: 14px;
    line-height: 2;
}
.team {
 background-color: var(--background-section-color);
}
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 2;
    text-align: center;
}
.team-text {
    font-size: 16px;
    line-height: 2; 
    text-align: center;
}
/*footer*/

footer {
    background: var(--footer-hero-color);
    width: 1600px;
    height: 252px;
}
.address-text {
font-style: normal ;
font-size: 14px;
line-height: 2;
}
.address-link {
    color: var(--color-white);
}
.link {
    color: var(--color-contacts-address);
}
.link:hover,
.link:focus {
    color: var(--accent-color);
}
.footer-studio {
    color: var(--color-white);
}

/*portfolio*/

/*стилизация списка кнопок*/

.button-list {
    color: var(--title-text-color);   
    width: 128px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
   }
.button-list .button.current {
   background-color: var(--accent-color);
   color: var(--color-white);
   }
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.8;
    color: var(--primary-text-color);
 }


